<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/template.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

{% include "layouts/homepageNav.html" %}

<body>

<!-- SECTION -->


<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by:
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">Price</button>
        <button class="dropdown-item" type="button">Distance</button>
        <button class="dropdown-item" type="button">Newest</button>
    </div>
    <div style="display: inline-block" class="offset-9 text-md-right">
        <div class="text-black ">
            <h6 class="title">Search result: {{ qCount }}</h6>
        </div>
    </div>
</div>



<div class="zone blue grid-wrapper" >
    {% for listing in listings %}
    <div class="card bg-light mb-3" alt="Car" style="width: 100%" class="card border-primary mb-3" style="max-width: 18rem;">
        <a style="text-decoration:none" href="/Listings/{{listing.id}}" class="card-body text-primary">
            <h5 class="top-tittle">{{ listing.title }}</h5>
            <img class="card__images" class="card bg-light mb-3" alt="Car" style="width: 100%" width="420px" height="285px"   src="/thumbnails/{{listing.thumbnail}}">
           <br/>
            <div class="text-black">
                <h6 class="price">${{ listing.rent }}/Mo </h6>
                <h6 class="address">Address: {{ listing.address }}</h6>
                <h6 class="type-item">Distance from SFSU: {{ listing.distance }} miles</h6>
                <h6 class="text-lg-right">{{ listing.type }}</h6>
            </div>

        </a>
    </div>
    {% else %}
    <p>No listings found...</p>
    {% endfor %}
</div>
            <!--<div class="zone grid-wrapper">-->
            <!--{% for listing in listings %}-->
            <!--<div class="card bg-light mb-3">-->
                <!--<a href="/Listings/{{listing.id}}"><img class="card-img-top" src="../thumbnails/{{listing.thumbnail}}" style="width: 100%" width="420px" height="285px"  alt="{{listing.title}}"/></a>-->
                <!--<div style="color: #0b0b0b; font-size: 16px;">-->
                    <!--<div class="text-lg-left  font-weight-bold">-->
                        <!--<ul>Type: {{ listing.type }}</ul>-->
                        <!--<ul>Title: {{ listing.title }}</ul>-->
                        <!--<ul>Address: {{ listing.address }}</ul>-->
                        <!--<ul>Beds: {{ listing.beds }}</ul>-->
                        <!--<ul>Baths: {{ listing.baths }}</ul>-->
                        <!--<ul>Rent: ${{ listing.rent }}/month</ul>-->
                        <!--<ul>Distance from SFSU: {{ listing.distance }} miles</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--{% else %}-->
            <!--<li>No listings available...</li>-->
            <!--{% endfor %}-->
            <!--</div>-->
</div>
<br/>
<!-- End Listing Loop -->
<!-- PAGING -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
<!-- End PAGEING -->



{% include "layouts/footer.html" %}

<!-- END-SECTION -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>


