<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/template.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

{% include "layouts/homepageNav.html" %}

<body>

<!-- SECTION -->


<div class="d-inline position-relative container">
    <div class="text-black col-md-3">
        <h6 class="title">Search result: {{ qCount }}</h6>
    </div>
    <hr/>
                <!-- Search filter -->
            <aside style="width: 100%" >
                <div class="text-black product-widget">
                    <form class="form-inline " action="/listings" class="search_form" id="search_form">
                        <div class="rubberBand col">
                            <h6 class="d-inline-block">Distance From SFSU:</h6>
                            <div class="custom-control-inline">
                                <button  name="type" class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                    <option value="">0-2 miles</option>
                                </button>
                                <button name="type" class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                    <option value="apartment">2-4 miles</option>
                                </button>
                                <button  name="type" class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                    <option value="house">4 miles or above</option>
                                </button>
                            </div>
                        </div>
                    </form>
                    <hr/>
                </div>
                </aside>
                <!-- End Search Filter -->

    <!-- listing loop --->
            <div class="grid-wrapper">
            {% for listing in listings %}
            <div class="card zone">
                <a href="/individualListing.html"><img class="card-img-top" src="../thumbnails/{{listing.thumbnail}}" style="width: 100%" width="420px" height="285px"  alt="{{listing.title}}"/></a>
                <div style="color: #0b0b0b; font-size: 16px;">
                    <div class="text-lg-left  font-weight-bold">
                        <ul>Type: {{ listing.type }}</ul>
                        <ul>Title: {{ listing.title }}</ul>
                        <ul>Address: {{ listing.address }}</ul>
                        <ul>Beds: {{ listing.beds }}</ul>
                        <ul>Baths: {{ listing.baths }}</ul>
                        <ul>Rent: ${{ listing.rent }}/month</ul>
                        <ul>Distance from SFSU: {{ listing.distance }} miles</ul>
                    </div>
                </div>
            </div>
            {% else %}
            <li>No listings available...</li>
            {% endfor %}
            </div>
        </div>
</div>
<br/>
<!-- End Listing Loop -->




{% include "layouts/footer.html" %}

<!-- END-SECTION -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>


